@model PersonelMVCUI.Models.EntitiyFramework.Departman
@{
    ViewBag.Title = "Yeni";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Kaydet","Departman",FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m=>m.Ad)
        @Html.TextBoxFor(m=>m.Ad, new {@class="form-control"})
    </div>
    @Html.HiddenFor(m=>m.Id)
    <button type="submit" class="btn btn-success">Kaydet</button>
}
